{{#header}}
{{this}}

{{/header}}
{{#releases}}{{#-first}}#{{/-first}}{{^-first}}##{{/-first}} {{name}} ({{#date}}{{this}}{{/date}})
{{#categories}}{{#entrySet}}### {{getKey}}
{{#getValue}}* {{#component}}**{{.}}:** {{/component}}{{description}} [{{#issueIds}}[{{^-first}}, {{/-first}}{{this}}]({{issueUrl}}{{this}}){{/issueIds}}] {{#gitUrl}}{{#commitId}}([{{this}}]({{gitUrl}}{{this}})){{/commitId}}{{/gitUrl}}
{{/getValue}}

{{/entrySet}}
{{/categories}}

{{/releases}}
{{#footer}}

    {{this}}
{{/footer}}