{{#header}}
{{this}}

{{/header}}
{{#releases}}{{#-first}}#{{/-first}}{{^-first}}##{{/-first}} {{name}} ({{#date}}{{this}}{{/date}})
{{#categories}}### {{name}}
{{#messages}}* {{#component}}**{{.}}:** {{/component}}{{description}} {{#issueIds}}{{#-first}}(Card: {{/-first}}{{^-first}}, {{/-first}}[{{this}}]({{issueUrl}}{{this}}{{#-last}}){{/-last}}){{/issueIds}} {{#gitUrl}}{{#commitId}}([{{this}}]({{gitUrl}}{{this}})){{/commitId}}{{/gitUrl}}
{{/messages}}

{{/categories}}

{{/releases}}
{{#footer}}

    {{this}}
{{/footer}}