{{#header}}
    {{this}}

{{/header}}
{{#releases}}{{#-first}}#{{/-first}}{{^-first}}##{{/-first}} {{name}} ({{#date}}{{this}}{{/date}})
{{#categories}}### {{name}}
{{#messages}}* {{#component}}**{{.}}:** {{/component}}{{description}} {{#issueIds}}{{#-first}}(Card: {{/-first}}{{^-first}}, {{/-first}}[{{this}}]({{issueUrl}}{{this}}{{#-last}}){{/-last}}){{/issueIds}} {{#commitIds}}{{#-first}}({{/-first}}{{^-first}}, {{/-first}}[{{this}}]({{gitUrl}}{{this}}){{#-last}}){{/-last}}{{/commitIds}}
{{/messages}}

{{/categories}}

{{^-last}}_____{{/-last}}
{{/releases}}
{{#footer}}

    {{this}}
{{/footer}}